<h1><%= @first_player_name%> vs. <%= @second_player_name %> </h1><br>

<%= @first_player_name%>: <%= @first_player_hp%>
<form action="/attack" method="post">
  <!-- <h3> <%=  @second_player_name%>: <%= @second_player_hp %> <input type="submit" value="Attack P2"></h3> -->
  <button type="submit" value="<%= @first_player_name %>" name="attack">Attack <%= @first_player_name%></button>
</form>

<%= @second_player_name%>: <%= @second_player_hp%>
<form action="/attack" method="post">
  <!-- <h3> <%= @first_player_name%>: <%= @first_player_hp %> <input type="submit" value="Attack P1"></h3> -->
  <button type="submit" value="<%= @second_player_name %>" name="attack">Attack <%= @second_player_name %></button>
</form>

<% if !!@message %>
  <p><%= @message %></p>
<% end %>
